/**************************************
    Colors
**************************************/
$white: #FFFFFF;
$black: #000000;
$black-grey: #111111;
$grey: #5C6779;
$dark-grey: #242B37;
$tan: #9E7F66;  

/**************************************
    Reset
**************************************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/**************************************
    Base Styles
**************************************/
.body {
    font-family: 'League Spartan', sans-serif;  
}

/**************************************
    Images
**************************************/
.image {
    max-width: 100%;
}



