/**************************************
    Colors
**************************************/
/**************************************
    Reset
**************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**************************************
    Base Styles
**************************************/
.body {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5625rem;
  letter-spacing: -0.19px;
  text-align: center;
  overflow-x: hidden;
}
@media (min-width: 635px) {
  .body {
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0.85px;
  }
}
@media (min-width: 1440px) {
  .body {
    text-align: left;
  }
}

.container {
  width: min(100% - 3rem, 573px);
  margin-inline: auto;
}
.container--secondary {
  width: min(100% - 3rem, 689px);
  margin-inline: auto;
}
@media (min-width: 1440px) {
  .container, .container--secondary, .container--hero {
    width: 1110px;
  }
  .container--hero {
    position: relative;
    min-height: 820px;
    margin-inline: auto;
  }
}

.link {
  text-decoration: none;
  color: inherit;
}

/**************************************
    Header
**************************************/
.hero {
  min-height: 748px;
  background-image: url(../images/homepage/hero-bg-mobile@2x.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  background-color: #111111;
  position: relative;
}
.hero .wrapper {
  min-height: 528px;
  min-width: 100%;
  background-color: #0E0E0E;
  color: #FFFFFF;
  padding: 0 1.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hero .wrapper .logo {
  max-width: 82.4px;
  max-height: 32px;
  margin-top: 0.75rem;
  margin-bottom: 2rem;
}
.hero__heading {
  font-weight: 200;
  font-size: 2.35rem;
  line-height: 2.25rem;
  letter-spacing: 0.8px;
  margin-bottom: 1.5rem;
}
.hero__text {
  font-weight: 200;
  max-width: 29ch;
  margin-inline: auto;
  margin-bottom: 2rem;
}
.hero .btn--dark {
  border: 1px solid #FFFFFF;
}
@media (min-width: 635px) {
  .hero {
    min-height: 992px;
    background-image: url(../images/homepage/hero-bg-tablet@2x.jpg);
  }
  .hero .wrapper {
    min-height: 618px;
  }
  .hero .wrapper .logo {
    margin-top: 0;
    max-width: initial;
    max-height: initial;
  }
  .hero__heading {
    font-weight: 100;
    font-size: 3.625rem;
    line-height: 3.75rem;
    letter-spacing: 1.5px;
  }
  .hero__text {
    max-width: 45ch;
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 1440px) {
  .hero {
    min-height: 820px;
    background-image: url("../images/homepage/hero-bg-desktop@2x.jpg");
    background-size: cover;
    background-position: bottom right;
    background-color: #0E0E0E;
    position: unset;
  }
  .hero .wrapper {
    min-height: 820px;
    min-width: unset;
    width: 545px;
    left: -165px;
  }
  .hero .wrapper .context {
    position: absolute;
    width: max-content;
    top: 65px;
    left: 165px;
  }
  .hero .wrapper .context .logo {
    margin-bottom: 9.5625rem;
  }
  .hero__heading {
    font-weight: 100;
    font-size: 5rem;
    line-height: 4.5rem;
    letter-spacing: 0;
  }
  .hero__text {
    max-width: 36ch;
    margin-inline: unset;
    margin-bottom: 2.625rem;
  }
}
@media (min-width: 1458px) {
  .hero {
    background-size: contain;
  }
}

/**************************************
    Main
**************************************/
.main__heading {
  font-weight: 700;
  font-size: 2.35rem;
  line-height: 2.5rem;
  letter-spacing: 1px;
  margin-bottom: 1rem;
}
.main__text {
  max-width: 29ch;
  margin-inline: auto;
}
.main .divider {
  margin-bottom: 2rem;
}
@media (min-width: 635px) {
  .main__heading {
    font-weight: 600;
    font-size: 3.125rem;
    line-height: 3.25rem;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;
  }
  .main__text {
    max-width: 37ch;
  }
}
@media (min-width: 1440px) {
  .main__text {
    margin-inline: unset;
  }
  .main .divider {
    margin-bottom: 3rem;
  }
}
.main .location {
  color: #242B37;
}
.main .location .wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.main .location .wrapper .context {
  order: 2;
}
.main .location .wrapper .context .main__text {
  margin-bottom: 5rem;
}
.main .location .wrapper:first-child {
  padding-top: 23.5rem;
}
.main .location .wrapper:last-child .divider {
  margin-top: 3rem;
}
@media (min-width: 635px) {
  .main .location .wrapper .context .main__text {
    margin-bottom: 7.5rem;
  }
  .main .location .wrapper:first-child {
    padding-top: 20rem;
  }
  .main .location .wrapper:last-child .divider {
    margin-top: 3.5rem;
  }
}
@media (min-width: 1440px) {
  .main .location .wrapper:first-child {
    padding-top: 11.0625rem;
  }
  .main .location .wrapper:first-child .context {
    margin-left: auto;
  }
  .main .location .wrapper:first-child .context .main__text {
    margin-bottom: 32.5625rem;
  }
  .main .location .wrapper:last-child .context {
    margin-right: auto;
  }
  .main .location .wrapper:last-child .context .divider {
    margin-top: 0;
  }
  .main .location .wrapper:last-child .context .main__text {
    margin-bottom: 10.4375rem;
  }
}
.main .highlights {
  background-color: #0E0E0E;
  color: #FFFFFF;
  padding: 4.5rem 0;
}
.main .highlights .main__text {
  margin-bottom: 4rem;
}
.main .highlights .menu .wrapper {
  display: flex;
  flex-direction: column;
}
.main .highlights .menu .wrapper:nth-of-type(2),
.main .highlights .menu .wrapper:nth-of-type(3) {
  margin-top: 1.5rem;
  border-top: 1.5px solid rgba(151, 151, 151, 0.15);
  padding-top: 1.5rem;
}
.main .highlights .menu__item {
  order: 2;
}
.main .highlights .menu__heading {
  font-weight: 600;
  font-size: 1.375rem;
  line-height: 1.75rem;
  letter-spacing: 0.5px;
  margin-bottom: 0.25rem;
}
.main .highlights .menu__text {
  font-weight: 200;
  font-size: 1.125rem;
  line-height: 1.75rem;
  letter-spacing: 0.5px;
  max-width: 28ch;
  margin-inline: auto;
}
@media (min-width: 635px) {
  .main .highlights {
    padding: 6rem 0;
  }
  .main .highlights .main__text {
    margin-bottom: 3.5rem;
  }
  .main .highlights .menu .wrapper {
    flex-direction: row;
    position: relative;
  }
  .main .highlights .menu .wrapper .accent {
    position: absolute;
    left: 128px;
    height: 1px;
    width: 32px;
    background-color: #9E7F66;
  }
  .main .highlights .menu__item {
    text-align: left;
    margin-left: 3.875rem;
  }
  .main .highlights .menu__text {
    margin-inline: unset;
    max-width: unset;
  }
  .main .highlights .menu .wrapper:first-of-type .accent {
    top: 18px;
  }
  .main .highlights .menu .wrapper:nth-of-type(2) .accent,
.main .highlights .menu .wrapper:nth-of-type(3) .accent {
    top: 42px;
  }
}
.main .events {
  padding-top: 5rem;
  padding-bottom: 7.75rem;
}
.main .events__text {
  margin-bottom: 2rem;
}
.main .events .container--secondary {
  display: flex;
  flex-direction: column;
}
.main .events .container--secondary .wrapper {
  display: flex;
  flex-direction: column;
  order: 2;
}
.main .events .container--secondary .wrapper .context {
  order: 2;
  color: #242B37;
  margin-top: 1.5rem;
}
.main .events .container--secondary .wrapper--secondary {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.main .events .container--secondary .wrapper--secondary .accent {
  height: 1px;
  width: 48px;
  background-color: #9E7F66;
  margin-inline: auto;
}
@media (min-width: 635px) {
  .main .events {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .main .events .container--secondary {
    position: relative;
  }
  .main .events .container--secondary .wrapper .context {
    margin-top: 2.5rem;
  }
  .main .events .container--secondary .wrapper--secondary {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3.5rem;
  }
}
@media (min-width: 700px) {
  .main .events {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  .main .events .container--secondary .wrapper--secondary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.main .reservation {
  background-image: url("../images/homepage/ready-bg-mobile@2x.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 5rem 0;
  color: #FFFFFF;
}
.main .reservation .main__heading {
  margin-bottom: 1.5rem;
}
@media (min-width: 635px) {
  .main .reservation {
    background-image: url("../images/homepage/ready-bg-tablet@2x.jpg");
    padding: 4rem 0;
  }
}

/**************************************
    Footer
**************************************/
.footer {
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.675rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #0E0E0E;
  color: #FFFFFF;
  padding: 5rem 0;
  transition: all 250ms;
}
.footer .logo {
  margin-bottom: 2.5rem;
}
.footer .address {
  font-style: initial;
  margin-bottom: 2rem;
}
@media (min-width: 335px) {
  .footer {
    font-size: 1rem;
    letter-spacing: 2.5px;
  }
}
@media (min-width: 375px) {
  .footer {
    font-size: 1.125rem;
    letter-spacing: 3px;
  }
}
@media (min-width: 635px) {
  .footer {
    padding: 4rem 0;
  }
  .footer .container--secondary {
    display: flex;
    align-items: flex-start;
  }
  .footer .container--secondary .wrapper {
    text-align: left;
    margin-left: 8.125rem;
  }
}

/**************************************
    Images
**************************************/
.image {
  max-width: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.image--tablet, .image--desktop, .image--pattern, .image--menu {
  display: none;
}
.image--enjoyable-place, .image--locally-sourced, .image--family-gathering, .image--special-events, .image--social-events {
  box-shadow: 0 75px 100px -50px rgba(56, 66, 85, 0.5032);
  height: 400px;
}
.image--enjoyable-place {
  width: 100%;
  position: absolute;
  top: -72px;
  left: 0;
  right: 0;
  margin-inline: auto;
  object-position: left top;
}
.image--locally-sourced {
  object-position: bottom;
}
.image--menu-mobile {
  max-height: 320px;
  margin-bottom: 2rem;
}
.image--beef {
  object-position: 50% 40%;
}
@media (min-width: 635px) {
  .image--mobile, .image--menu-mobile {
    display: none;
  }
  .image--tablet, .image--menu, .image--pattern {
    display: block;
  }
  .image--enjoyable-place, .image--locally-sourced, .image--family-gathering, .image--special-events, .image--social-events {
    height: 360px;
  }
  .image--family-gathering, .image--special-events, .image--social-events {
    margin-inline: auto;
  }
  .image--enjoyable-place {
    width: 573px;
    top: -96px;
  }
  .image--pattern {
    position: absolute;
  }
  .image--top-right-location {
    z-index: -1;
    top: 100px;
    right: 292px;
  }
  .image--lines-location {
    bottom: 489px;
    left: 471px;
  }
  .image--top-left-location {
    z-index: -1;
    bottom: 0;
    left: 287px;
  }
  .image--menu {
    height: 96px;
    width: 128px;
  }
  .image--lines-events {
    top: -38px;
    left: 0;
  }
  .image--top-right-events {
    z-index: -1;
    top: -120px;
    right: 350px;
  }
}
@media (min-width: 1440px) {
  .image--tablet {
    display: none;
  }
  .image--desktop {
    display: block;
  }
  .image--enjoyable-place, .image--locally-sourced {
    height: 720px;
    width: 540px;
  }
  .image--enjoyable-place {
    top: -70px;
    left: unset;
    right: unset;
    margin-inline: unset;
  }
  .image--locally-sourced {
    position: absolute;
    bottom: -80px;
    right: 0;
    box-shadow: none;
  }
  .image--top-right-location {
    top: 250px;
    right: 380px;
  }
  .image--lines-location {
    bottom: 282px;
    left: unset;
    right: -114px;
  }
  .image--top-left-location {
    bottom: 0;
    left: 380px;
  }
}

.hidden {
  display: none;
}

/**************************************
    Buttons
**************************************/
.btn {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1rem;
  letter-spacing: 3px;
  background-color: initial;
  border: initial;
  border-radius: 3px;
  text-transform: uppercase;
  padding: 1.5rem 3.4375rem;
  transition: all 400ms;
}
.btn:hover, .btn:focus {
  cursor: pointer;
}
.btn--dark {
  color: #FFFFFF;
  background-color: #0E0E0E;
  border: 1px solid #0E0E0E;
}
.btn--dark:hover, .btn--dark:focus {
  color: #0E0E0E;
  background-color: #FFFFFF;
  border: 1px solid #0E0E0E;
}
.btn--light {
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid #FFFFFF;
}
.btn--light:hover, .btn--light:focus {
  color: #0E0E0E;
  background-color: #FFFFFF;
}
.btn--events {
  font-weight: 600;
  line-height: 1.75rem;
  letter-spacing: 3px;
  padding: 0;
  color: rgba(76, 76, 76, 0.5);
}
.btn--special {
  margin: 1rem 0;
}
.btn--active {
  color: #4c4c4c;
}
@media (min-width: 635px) {
  .btn--special {
    margin: 0 2rem;
  }
}
@media (min-width: 700px) {
  .btn--special {
    margin: 0;
  }
}
