/**************************************
    Colors
**************************************/
/**************************************
    Reset
**************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/**************************************
    Base Styles
**************************************/
.body {
  font-family: "League Spartan", sans-serif;
}

/**************************************
    Images
**************************************/
.image {
  max-width: 100%;
}
